body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td,menu{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,abbr{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ul li,menu li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}legend{color:#000;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}

/* styles */

.article{
	max-width: 600px;
	padding: 5px;
	margin: 20px auto;
	border: 1px solid black;
	border-radius: 10px;
}

.meta{
	background: #ddd;
	padding: 5px 0;
	overflow: hidden;
	font-size: 20px;
}

/* positions */

.article {
	display: flex;
	flex-wrap: wrap;
}

.cat {
	flex-grow: 1000;
}

.dt {
	flex-grow: 1;
	text-align: center;
	background: antiquewhite;
	padding: 2px 1px;
}
